@import './_reset.css';
@import './_typography.css';

body {
  font-family: Inter, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(/images/cursor_gauntlet.png), auto;
}

a:hover,
button:hover {
  cursor: url(/images/cursor_sword.png), auto;
}

input,
label {
  cursor: url(/images/cursor_gauntlet2.png), auto;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  color: gray;
  font-size: 12px;
  transform: translate(-12px, -8px) scale(0.8);
}

main {
  height: 100%;
}

/* стили скроллбара */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #181818;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: #d4cece;
}

body {
  scrollbar-color: #d4cece #181818;
  scrollbar-width: thin;
}
